.downloadFilesContainer {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #fefae0; */
}

.downloadFilesContainer h1 {
  margin: 10px auto;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.downloadFilesContainer img {
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  margin: 20px auto;
  animation: jump 1s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
