.input-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 5%;
}

.input-location-header-container {
    display: block;
    width: 100%;
}

.input-location-header-title {
    display: inline-flex;
    text-align: left;
    margin-right: 10px;
}

.input-location-header-radio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.input-location-mode-radio-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.input-location-mode-radio {
    /* Modern radio selector */
    opacity: 0;
    position: absolute;
    appearance: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.input-location-mode-radio + label {
    display: block;
    width: calc(100% - 1em);
    height: 100%;
    border: 0 solid #007bff;
    padding: 0.5em;
    margin: 0;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.input-location-mode-radio-container:first-child .input-location-mode-radio + label {
    border-radius: 10px 0 0 10px;
    border-width: 1px 0 1px 1px;
}

.input-location-mode-radio-container:last-child .input-location-mode-radio + label {
    border-radius: 0 10px 10px 0;
    border-width: 1px 1px 1px 0;
}

.input-location-mode-radio:checked + label {
    background-color: #007bff;
    color: #fff;
}


.input-location-container {
    width: 100%;
}

.input-location-title-container {
    display: flex;
    align-items: center;
}

.input-location-title {
    font-size: 1em;
    font-weight: 500;
    margin: 0 5px;
}

.input-location-button {
    width: 3.3em;
    aspect-ratio: 1/1;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0.25rem;
    background-color: transparent;

}

.input-location-button img {
    width: 100%;
}

.input-location-input {
    width: calc(100% - 50px);
    height: 40px;
    padding: 0 10px;
    margin: 0px 15px 20px 15px;
    border: 0;
    font-size: 0.87em;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    background-color: transparent;
    transition: border-color 0.25s ease-in-out;
}

.input-location-input:focus, .input-location-input:focus{
    outline: none;
    border-bottom: 1px solid rgb(0, 113, 227);;
}

.input-submit {
    width: 75%;
    height: 40px;
    margin: 10px auto;
    font-size: 0.87em;
    font-weight: bolder;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    background-color: transparent;
    transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-submit:hover {
    color: rgb(0, 113, 227);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}