.output-result {
  grid-row: 3;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.output-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.output-result-header {
  width: 100%;
  padding: 10px 0;
  /* border-bottom: 1px solid #007bff; */
  border-radius: 10px 10px 0 0;
  color: rgb(50, 50, 50);
  background-color: #007bff;
}

.output-result-bus-no {
  display: inline-block;
  background-color: #fff;
  color: #000;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 20px;
}

.output-result-duration {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid rgb(216, 247, 234);
  color: rgb(216, 247, 234);
}

.output-result-arrival-time-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.output-result-arrival-time {
  display: block;
  padding: 0 5%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.output-result-arrival-time[active="active"] {
  max-height: 3rem;
}

.output-result-arrival-time-title {
  display: inline-block;
  margin: 0 0 20px 0;
  width: 70px;
}

.output-result-time-container {
  display: inline-flex;
  width: calc(100% - 70px);
  justify-content: space-around;
}

.output-result-time {
  border: 1px solid #000;
  padding: 5px 0;
  width: 100%;
  text-align: center;
  margin: 0 10px;
  border-radius: 20px;
}

.output-result-departure-time-header {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.output-result-departure-time-header h3 {
  width: 100px;
  text-align: center;
}

.output-result-arrow {
  position: absolute;
  top: calc(50% - 10px);
  right: 0;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.output-result-arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%) rotate(-45deg);
  width: 50%;
  height: 50%;
  content: " ";
  border: 1px solid #111;
  border-width: 0 2px 2px 0;
  transition: transform 0.2s ease-in-out;
}

.output-result-arrow[active="active"]::after {
  transform: translate(-50%, -75%) rotate(45deg);
}

.output-result-departure-time-container {
  display: flex;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #007bff;
}

.output-result-departure-time-container p {
  margin: 0;
}

.output-result-departure-time-container p:first-child {
  margin-right: 10px;
}

.output-bus-route {
  display: flex;
  width: 100%;
}

.output-result-route-header {
  position: relative;
  width: 100px;
  text-align: center;
}

.output-result-route-header h3 {
  display: inline-block;
}

.output-result-route-container {
  width: 100%;
  position: relative;
  padding-left: 25px;
}

.output-result-route-container h2 {
  font-size: 1.25rem;
}

.output-result-route-container p {
  font-size: 1.1rem;
}

.output-result-route-start h2 {
  margin-bottom: 0;
  padding-bottom: 1.25rem;
  border-bottom: 0.5px solid #ddd;
}

.output-result-route-end h2 {
  margin-top: 0;
  padding-top: 1.25rem;
  border-top: 0.5px solid #ddd;
}

.output-result-route-start h2::before,
.output-result-route-end h2::before {
  content: " ";
  position: absolute;
  left: -2px;
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #111;
  background-color: #fff;
  margin-top: 5px;
}

.output-result-route-collapse {
  position: relative;
  font-weight: 500;
}

.output-result-route-collapse p {
  padding: 5px 0;
}

.output-result-route-expand {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.output-result-route-expand[active="active"] {
  max-height: 100%;
}


.output-result-route-expand p {
  font-weight: 300;
  color: #444;
}

.output-result-route-expand p::before {
  content: " ";
  position: absolute;
  left: 5.5px;
  width: 0;
  margin-top: 5px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  transform: translateY(50%);
  border: 0 solid #000;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.output-result-route-expand[active="active"] p::before {
  border: 1.5px solid #444;
  background-color: #fff;
  width: 10px;
  transform: translateY(0);
  left: -1.5px;
  transition-delay: 0.5s;
}

.output-result-route-sidebar {
  position: absolute;
  left: 1px;
  top: calc(1.25rem + 10px);
  bottom: calc(1.25rem + 10px);
  width: 8px;
  background-color: #007bff;
  border-radius: 10px;
}