.inputLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 5%;
}

.inputLocationHeaderContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputLocationHeaderTitle {
  display: inline-flex;
  text-align: left;
  margin-right: 10px;
}

.inputLocationHeaderRadio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}

.inputLocationModeRadioContainer {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.inputLocationModeRadio {
  /* Modern radio selector */
  opacity: 0;
  position: absolute;
  appearance: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.inputLocationModeRadio + label {
  display: block;
  width: calc(100% - 1em);
  height: 100%;
  border: 0 solid rgb(142, 166, 216);
  padding: 0.5em;
  margin: 0;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}

.inputLocationModeRadioContainer:first-child .inputLocationModeRadio + label {
  border-radius: 10px 0 0 10px;
  border-width: 1px 0 1px 1px;
}

.inputLocationModeRadioContainer:last-child .inputLocationModeRadio + label {
  border-radius: 0 10px 10px 0;
  border-width: 1px 1px 1px 0;
}

.inputLocationModeRadio:checked + label {
  background-color: rgb(142, 166, 216);
  color: #fff;
}

.inputLocationContainer {
  width: 100%;
}

.inputLocationTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputLocationTitle {
  font-size: 1em;
  font-weight: 500;
  margin: 0 5px;
}

.inputLocationButton {
  width: 3.3em;
  aspect-ratio: 1/1;
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.25rem;
  background-color: transparent;
}

.inputLocationButton img {
  width: 100%;
  margin-right: 30px;
}

.inputLocationInput {
  width: calc(100% - 50px);
  height: 40px;
  padding: 0 10px;
  margin: 0px 15px 20px 15px;
  border: 0;
  font-size: 0.87em;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  background-color: transparent;
  transition: border-color 0.25s ease-in-out;
}

.inputLocationInput:focus,
.inputLocationInput:focus {
  outline: none;
  border-bottom: 1px solid rgb(142, 166, 216);
}

.inputSubmit {
  width: 75%;
  height: 40px;
  margin: 10px auto;
  font-size: 0.87em;
  font-weight: bolder;
  border: 1px solid rgb(142, 166, 216);
  border-radius: 0.25rem;
  background-color: transparent;
  transition:
    color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.inputSubmit:hover {
  color: rgb(142, 166, 216);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.autoComplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

.autoComplete > div {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 75%;
  left: 12.5px;
  right: 12.5px;
  background-color: #eee;
  max-height: 250px;
  overflow: auto;
}

.autoComplete > div > div {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  border-bottom: 1px solid #fff;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
.autoComplete > div > div:hover {
  background-color: rgb(142, 166, 216);
  color: #fff;
}
.autoComplete-active {
  background-color: rgb(142, 166, 216) !important;
  color: #fff;
}

.selectStationSelect {
  width: 100%;
  background-color: #f0f0f0;
  border: transparent;
  outline: transparent;
  font-size: 1rem;
  text-align-last: center;
  padding: 13.5px 12px;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectStationSelectStart,
.selectStationSelectEnd {
  display: inline-flex;
}
