.option-list {
  display: flex;
  flex-direction: column;
}

.option {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
  border-bottom: 1px solid #ccd5ae;
  padding: 20px 5%;
  cursor: pointer;
}

.option:nth-child(even) {
  background: rgba(253, 250, 227, 0.5);
}
