.option-list {
  display: flex;
  flex-direction: column;
}

.option {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0 10px;
  border-bottom: 1px solid #ccd5ae;
  padding: 20px 5%;
  cursor: pointer;
}

.option.expandable {
  grid-template-columns: 1fr;
}

.option:nth-child(even) {
  background: rgba(253, 250, 227, 0.5);
}

.option-expand {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 1s;
  overflow: hidden;
}

.option-expand.expanded {
  grid-template-rows: 1fr;
}

.option-expand-wrapper {
  min-height: 0;
  transition: visibility 1s;
  visibility: hidden;
}

.option-expand.expanded .option-expand-wrapper {
  visibility: visible;
}

.option-expand-content {
  border-radius: 5px;
  background-color: #ddd;
  margin-top: 10px;
  padding: 20px 5%;
}
