/* Title & Alert */
.alert-box {
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;
  color: rgb(97, 26, 21);
  background-color: #fff;
  box-shadow: none;
  width: 80%;
}

.alert-box table {
  width: 100%;
}

.alert-box table td:first-child {
  width: 100px;
  text-align: center;
  margin: 10px auto;
}

/* Mode Selection */
.switch-toggle {
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  margin: 10px auto;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  background-color: #fff;
  width: fit-content;
  line-height: 3;
}

.switch-toggle input {
  position: absolute;
  opacity: 0;
}

.switch-toggle input + label {
  padding: 14px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

.switch-toggle input:checked + label {
  background: #62529c;
  color: white;
  transition: all 0.4s ease;
}

/* Selection boxes */

.info-box {
  display: grid;
  padding: 10px;
}

/* Options Selector */
.optionssel {
  height: min-content;
}

.slider-wrapper {
  display: inline-flex;
  margin: 0 auto;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.switch {
  margin-left: 20px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.select-time {
  font-size: 16px;
  width: 50px;
  margin: 2px 5px;
  text-align-last: center;
  box-shadow: 0 1px 3px -2px #9098a9;
  padding: 7px 12px;
  -webkit-appearance: none;
}

.select-date {
  font-size: 16px;
  width: 100px;
  margin: 2px 5px;
  text-align-last: center;
  box-shadow: 0 1px 3px -2px #9098a9;
  padding: 7px 12px;
  -webkit-appearance: none;
}

.show-time {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 8px 13px;
  -webkit-appearance: none;
}

/* Choose Loction */

.routesel {
  height: min-content;
}

.locationchooser {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.locationchooser #Start-label,
.locationchooser #Dest-label {
  text-align: center;
}

.locationinput {
  display: inline-block;
}

.text-box {
  width: 100%;
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: #34495e;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  -webkit-appearance: none;
}

.select-box {
  font-size: 14px;
  width: 100%;
  box-shadow: 0 1px 3px -2px #9098a9;
  padding: 7px 12px 7px 12px;
  -webkit-appearance: none;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 70%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.locationchooser .functionbuttons {
  display: inline-block;
}

.submit-btn {
  font-size: 16px;
  background-color: #62529c;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
}

.image-wrapper {
  padding: 5px;
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 30%;
  cursor: pointer;
}

/* GPS location */
#details-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.details-box {
  overflow: scroll;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  align-items: center;
  background-color: #51f5ea;
  width: 80%;
  margin: auto;
  padding: 20px;
  z-index: 999999;
}

.showdetails {
  float: center;
  height: 100px;
  display: flex;
  align-items: center;
}

#details-box-heading {
  display: inline;
  color: black;
  margin: auto;
}

#GPSresult {
  overflow: auto;
}

/* Get result */

.routeresult {
  margin: 50px auto;
}

#routeresult {
  margin: auto;
  width: 90%;
  font-size: 16px;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.departtime {
  display: block;
  background-color: #009879;
  border-radius: 5px;
  padding: 3.5px;
  color: #fff;
}

.eoswarning {
  display: block;
  background-color: #96281b;
  border-radius: 5px;
  padding: 3.5px;
  color: #fff;
}

.detailsbtn {
  display: block;
  outline: none;
  border: none;
  margin: 10px auto 0 auto;
  background-color: #62529c;
  border-radius: 5px;
  padding: 3px 7px;
  color: #fff;
  cursor: pointer;
}

/* Others */
.map-submit-btn {
  font-size: 16px;
  background-color: #62529c;
  color: #fff;
  padding: 15px 30px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  width: max(120px, 3vw);
}

/* Ads */

.bmc-btn {
  display: block;
  margin: 30px auto;
  width: 125px;
  color: #000;
  background-color: #ffdd00 !important;
  border-radius: 12px;
  font-size: 12px;
  font-weight: Bold;
  border: none;
  padding: 13px 20px;
  white-space: nowrap;
  text-decoration: none !important;
  cursor: pointer;
}

.bmc-btn svg {
  height: 32px !important;
  margin-bottom: 0px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
  flex-shrink: 0;
}

.bmc-btn-text {
  margin-left: 8px;
  line-height: 0;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.logo-outline {
  fill: #000000;
}

.logo-coffee {
  fill: #ffffff;
}

footer h2 {
  margin-bottom: 30px;
}

.networkerror {
  position: fixed;
  top: 7.5vh;
  left: 10vw;
  right: 10vw;
  padding: 1vh 0;
  max-width: 80vw;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  z-index: 9999;
  opacity: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 1s ease-in-out;
}

.networkerror p {
  padding: 0;
}

.networkerror .heading {
  font-size: 1.2rem;
  font-weight: bold;
}
